root = true

[*]
end_of_line = lf
insert_final_newline = false
trim_trailing_whitespace = true
charset = utf-8

[Makefile]
indent_style = tab

[*.c]
indent_style = space
indent_size = 4

[*.{sh,js,lua,html}]
indent_style = space
indent_size = 2
